@import "./helpers/variables";
@import "./helpers/mixins";
@import "./components/button";

.note-create {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 78vh;
  transition: 500ms;
  transform: translateY(-100vh);
  background-color: rgba(0, 0, 0, 0.705);

  display: flex;
  flex-wrap: wrap;

  &__form-container {
    height: 100%;
    width: 40%;
    margin: 0 auto;

    background-color: white;

    @include mq("large") {
      width: 90%;
    }

    @include mq("small") {
      width: 100%;
      background-color: whitesmoke;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 2vmin;
  }

  &__form-field {
    flex-basis: 100%;
  }

  &__form-field--flex {
    display: flex;
    margin-bottom: 2vmin;
  }

  &__form-input {
    display: block;
    margin: 0 auto;
    width: 75%;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid black;
  }

  &__form-input--large {
    height: 250px;
    resize: none;
  }

  &__form-label {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.25rem;
  }

  &__error {
    position: absolute;
    left: 35%;
    color: red;
  }
}
