@import "./helpers/variables";

.notes-container {
  flex-basis: 100%;
  height: 78vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;

  overflow-y: auto;
}
