@import "./helpers/variables";
@import "./helpers/mixins";
@import "./components/button";
@import "./components/textinput";

.note-create {
  @include container(rgba(0, 0, 0, 0.705));
  &__form-container {
    height: 100%;
    width: 40%;
    margin: 0 auto;

    background-color: white;

    @include mq("large") {
      width: 90%;
    }

    @include mq("small") {
      width: 100%;
      background-color: whitesmoke;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 2vmin;
  }

  &__form-field {
    flex-basis: 100%;
  }

  &__form-field--flex {
    display: flex;
    margin-bottom: 2vmin;
  }

  &__form-input {
    @extend %input;
  }

  &__form-input--large {
    @extend %textarea;
  }

  &__form-label {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.25rem;

    @include mq("small") {
      margin-top: 20px;
    }
  }

  &__error {
    position: absolute;
    left: 35%;
    color: red;

    @include mq("small") {
    }
  }
}
