@import "./components/button";
@import "./helpers/mixins";

.settings {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 78vh;
  transition: 500ms;
  transform: translateY(-100vh);
  background-color: rgba(0, 0, 0, 0.705);

  display: flex;
  justify-content: center;

  &__options-container {
    flex-basis: 35%;

    text-align: center;
    background-color: white;
    color: black;

    @include mq("large") {
      flex-basis: 90%;
    }

    @include mq("small") {
      flex-basis: 100%;
      background-color: whitesmoke;
    }
  }

  &__box {
    width: 100%;
    margin-top: 10vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__label {
    flex-basis: 33%;
    font-size: 1.25rem;
  }

  &__title {
    flex-basis: 100%;
    margin-bottom: 5vmin;
    font-size: 1.5rem;
  }

  &__input {
    display: block;
    margin: 0 auto;
  }
}
