@import "./components/button";
@import "./helpers/mixins";

.settings {
  @include container(rgba(0, 0, 0, 0.705));

  &__options-container {
    flex-basis: 35%;

    text-align: center;
    background-color: white;
    color: black;

    @include mq("large") {
      flex-basis: 90%;
    }

    @include mq("small") {
      flex-basis: 100%;
      background-color: whitesmoke;
    }
  }

  &__box {
    width: 100%;
    margin-top: 10vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__form-label {
    flex-basis: 33%;
    font-size: 1.25rem;
  }

  &__title {
    flex-basis: 100%;
    margin-bottom: 5vmin;
    font-size: 1.5rem;
  }

  &__form-input {
    display: block;
    margin: 0 auto;
  }
}
