@import "./helpers/variables";
@import "./helpers/mixins";

.top-bar {
  flex-basis: 100%;
  height: 10vh;
  max-height: 100px;

  display: flex;
  justify-content: space-between;

  background-color: $main-color;
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 2rem;
  z-index: 99;

  &__date {
    flex-basis: 50%;
  }

  &__hour {
    flex-basis: 25%;
    text-align: right;
  }
}
